<!-- Footer section -->
<footer class="bg-gray-900">
    <div class="max-w-md px-4 py-12 mx-auto overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            {{ range site.Menus.footer }}
            <div class="px-5 py-2">
                <a href="{{ .URL | absLangURL }}" class="text-base text-gray-400 hover:text-gray-300">{{ .Name }}</a>
            </div>
            {{ end }}
        </nav>
        <div class="flex justify-center mt-8 space-x-6">
          {{ partial "social" (dict "context" . "linkClasses" "text-gray-400 hover:text-gray-200" "iconClasses" "w-6 h-6") }}
        </div>
        {{ partial "credits" . }}
        {{ if .Site.Params.ShowOriginalCredits }}
        <p class="mt-2 text-base text-center text-gray-400">Made with &#x2764;&#xfe0f; by <a
               href="https://nusserstudios.com" class="hover:underline hover:text-primary-600"><span
                      class="font-black uppercase">Nusser</span> <span class="font-light uppercase">Studios.</span></a>
        </p>
        {{ end }}
    </div>
</footer>
