<div class="bg-gray-200 dark:bg-neutral-950 relative overflow-hidden lg:h-[620px] bg-xy-animated bg-stars">
  {{ if .Context.IncludeStars }}
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  {{ end }}
  <div class="max-w-screen-xl md:px-0 md:pt-0 pt-14 mx-auto">
    <div class="grid items-center gap-8 sm:mb-0 md:gap-12 md:grid-cols-12 lg:h-[620px]">
      <div class="col-span-6 text-center sm:mb-6 lg:text-left md:mb-0 md:pt-6 px-4 md:px-6 lg:px-8 ">
        <h1 class="font-serif mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
          {{ .Context.Title }}
        </h1>
        <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
          {{ .Context.Subtitle }}
        </h2>
        <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50 max-[1450px]:w-[80%]">
          {{ .Context.Description}}

          {{ partial "default-link" (dict "Lnk" .Context.Link) }}
        </p>
      </div>
      <div class="col-span-6 h-full lg:bg-transparent md:bg-black flex items-center">
        {{ $hero := resources.GetMatch .Context.Image }}
        {{ $thumb := ($hero.Fill "410x320 webp q90 BottomRight") }}
        {{ $large := ($hero.Fill "820x640 webp q90 BottomLeft") }}

        <img srcset="
          {{- with $thumb.RelPermalink -}}{{.}} 410w{{- end -}},
          {{- with $large.RelPermalink -}}{{.}} 820w{{- end -}}"
          src="{{ $hero.RelPermalink }}"
          class="lg:h-[620px] hero-image lg:absolute 2xl:right-0 xl:-right-1 top-0"
          alt="{{ .Context.Title }}"  />
      </div>
    </div>
  </div>
</div>
