<div class="bg-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto">
    <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
      <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
        <h1 class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
          {{ .Context.Title }}
        </h1>
        <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
          {{ .Context.Moto }}
        </h2>
        <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
          {{ .Context.Description }}

          {{ partial "link" .Context.Link }}
        </p>
      </div>
      <div class="col-span-6">
          {{ $hero := resources.GetMatch .Context.Image }}
          {{ $thumb := ($hero.Fill "400x400 webp q90 Center") }}
          {{ $large := ($hero.Fill "576x576 webp q90 Center") }}

          <img srcset="
              {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}"
              src="{{ $hero.RelPermalink }}"
              class="w-full mx-auto hero-image"
              alt="{{ .Site.Title }}"  />
      </div>
    </div>
  </div>
</div>
